.nav {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.logo_text {
  font-size: 3.157rem;
  user-select: none;
  transition: opacity 0.1s ease-in-out;
}

.logo_text:hover {
  opacity: 0.8;
  cursor: pointer;
}

.logo_text:active {
  opacity: 0.4;
}

.navlink {
  transition: opacity 0.1s ease-in-out;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }

  &:active {
    opacity: 0.4;
  }
}

.navlinks {
  display: flex;
  align-items: center;
  gap: 2rem;
}

@media (width <= 640px) {
  .navlinks {
    display: none;
  }
}
